[2015-03-09 11:12] warpech opened #1 "Cannot run UserAdminApp + SignInApp"
Current version of UserAdminApp fails to start with SignInApp (Starcounter 2.0.3077.3) with an error:

Below screenshot of the error message.

![useradminapp-exception](https://cloud.githubusercontent.com/assets/566463/6553850/7d557628-c655-11e4-9554-283152200897.png)

cc @alemoi, @andwah

[2015-03-25 18:20] miyconst opened #2 "Project Smorgasbord.PropertyMetadata is missing"
Could not run UserAdminApp from VisualStudio.
The project Smorgasbord.PropertyMetadata is missing.

Maybe .sln file is not up to date.

What is the GitHub repository for the project?

[2015-03-26 07:17] andwah commented on #2
The project repo exist here:
https://github.com/Smorgasbord-Development/PropertyMetadata

[2015-03-26 19:26] #2 closed

[2015-03-26 19:29] miyconst opened #3 "How to use UserAdminApp with other sign in applications?"
Currently UserAdminApp is hard coded:
https://github.com/Polyjuice/UserAdminApp/blob/master/src/Helper.cs#L242

If user tries to access a page which requires login it redirects to `/signinapp/signinuser`.
How to make it work with GoogleSignIn application?

[2015-03-27 12:18] andwah commented on #3
:+1:  Im also curious on how to solve this?

[2015-03-27 20:23] miyconst commented on #3
@warpech, @andwah I guess there should be a custom block `launcher-account-signin` like `launcher-menu`, `launcher-dashboard` and `launcher-user` then all of the sign in applications should use it same as menu used:

[code]

I tried to figure out how this works in Launcher, but all of the magic is hidden inside:
[code]

So I can't add my custom block or see how it works.

[2015-04-14 18:15] miyconst commented on #1
@warpech is this issue still relevant? UserAdmin + SignIn and/or GoogleSignIn works fine for me.

[2015-04-14 18:16] miyconst opened #4 "Rework app to use bootstrap styles"

[2015-04-15 14:11] miyconst commented on #4
https://github.com/Polyjuice/UserAdmin/commit/f00b49e2e52b0061548bde4052439fdab3f899d0

[2015-04-15 14:11] #4 closed

[2015-04-16 08:30] warpech commented on #1
It was fixed by @alemoi. Closing

[2015-04-16 08:30] #1 closed

[2015-05-27 17:31] warpech opened #5 "UserAdmin does not work"
The app seems to not be working at the moment.

@miyconst could you rework it in the similar way you reworked SignIn app?

[2015-05-29 07:36] miyconst commented on #5
The app works, but it requires some permissions access the pages. Those permissions are not granted to new users created by GoogleSignIn.

Should I still rework the UserAmin app?
Should GoogleSignIn give these permissions by default?

[2015-06-01 10:43] warpech commented on #5
1) GoogleSignIn should give appropriate permissions if it creates the `admin` user
2) In case of lacking permissions, UserAdmin should show an error message, not redirect to the home page

[2015-06-01 14:27] miyconst commented on #5
1. Done.
2. Done.
3. Already in such state.

[2015-06-01 16:07] #5 closed

[2015-06-17 10:02] warpech commented on #3
Related: https://github.com/Polyjuice/Launcher/issues/88

[2015-06-17 10:02] warpech opened #6 "Use new commit hooks"

[2015-06-17 17:02] miyconst commented on #6
Done.

[2015-06-17 17:02] #6 closed

[2015-06-18 07:42] warpech commented on #6
Thanks!

[2015-06-18 13:22] miyconst opened #7 "UserAdmin redirects to root when trying to open a certain page and there is no SystemUserSession for Session.Current"

[2015-06-18 14:04] miyconst commented on #7
Made a temporary fix: redirect to `/` only if user was signed in as `admin` and then signed out or signed in with a non admin user.

Still the UserAdmin app should be fully reworked to don't redirect at all. If user signs out while staying on a protected page then a red popup should appear, user may click go to home or login again.

@warpech what do you think?

[2015-06-18 15:18] warpech commented on #7
Thanks!

I agree with the second paragraph. I am not a fan of redirects, because this can make the whole solution unusable if we have multiple apps with multiple permission levels.

I believe that there should be no links to something to what you don't have access. But if you still happen to be somewhere where you shouldn't be, it is enough to put a modest information about insufficient permission

[2015-06-18 15:43] miyconst commented on #7
Yes, the temporary fix works. Closing the issue.

[2015-06-18 15:43] #7 closed

[2015-10-19 12:41] warpech opened #8 "Release 3.0.0"
Now that UserAdmin was upgraded to Polymer 1.1, please release a new version to the app store.
Now including a git tag! https://github.com/StarcounterSamples/AppStoreServer/wiki/How-to-publish-apps

[2015-10-20 07:08] andwah commented on #8
The version is already on the appstore  (version 2.0.1-pre7) but i did not follow allt the steps on  https://github.com/StarcounterSamples/AppStoreServer/wiki/How-to-publish-apps.

[2015-10-20 11:07] warpech commented on #8
Can you do so? We follow it for all other apps. It greatly improves team workflow.

[2015-10-20 12:05] andwah commented on #8
Done.

[2015-10-20 12:05] #8 closed

[2015-10-20 12:13] warpech commented on #8
It seems that the git tag was not pushed.

Thanks!

[2015-11-02 10:39] Prav962 opened #9 "Starcounter.Node.exe not found"
Hi I heard about startcounter and try to understand the same. I have downloaded the framework version 2.1.298 (Oct 28, 2015 9:18:11 PM). and trying to run your sample app "UserAdmin" from github. I tried to run but it fails due to this error
Probing location 'C:\Program Files\Starcounter\LibrariesWithDatabaseClasses\Starcounter.Node.exe' because this directory is in the search path.
Could you guys

[2015-11-02 11:16] dan31 commented on #9
Hi @Prav962! Thanks for your question. @alemoi will come back to you soon to help you solve the case.

[2015-11-02 12:07] alemoi commented on #9
Hi again! I guess the problem lies in outdated version of "UserAdmin" application that uses an outdated Starcounter.Node.dll. Can you please give us a link from where you downloaded/cloned UserAdmin app? Thank you!

[2015-11-09 12:14] miyconst commented on #9
I just have checked [UserAdmin](https://github.com/StarcounterSamples/UserAdmin) app with the latest Starcounter (`Starcounter-DevelopNightlyBuilds-2.1.388 (Nov 9, 2015 2:01:00 AM)`) and the application starts.

Could you please update Starcounter and source code to the latest version and try again?

Also, [UserAdmin](https://github.com/StarcounterSamples/UserAdmin) is kind of "advanced" sample, i

[2015-11-18 14:09] jwillmer opened #10 "Clicking on "System Settings" in the menu throws an error"
[code]

[2015-11-18 14:32] miyconst commented on #10
@andwah, could you please take a look?

[2015-11-18 19:57] andwah commented on #10
@miyconst Sure. i think i know the problem, hopefully ill push a fix tomorrow.

[2015-11-19 09:24] andwah commented on #10
@jwillmer Just a version check,
Which Starcounter version are you running and UserAdmin?

[2015-11-19 13:56] jwillmer commented on #10
UserAdmin: 2.0.0-pre8 (20.10.2015 15:00:00)
Starcounter: Starcounter-Stable-2.1.177 (14.10.2015 17:28:43)

[2015-11-19 14:06] andwah commented on #10
The issue has been corrected in Starcounter version 2.1.300,
Unfortunately we have not released a stable version after version 2.1.300.

[2015-11-19 14:23] #10 closed

[2015-11-23 10:28] jwillmer commented on #10
@andwah : Is there a timeframe of releasing new stable builds or can you tell me a nightly build that is (pretty) stable?

[2015-11-23 10:56] andwah commented on #10
Our plans is to release a new stable version on the 7th of december.

If you are planning to use our nightly builds then we recommend to use the latest.

You can find all our available builds here:
http://downloads.starcounter.com/download

Changlelog can be found here: https://github.com/Starcounter/Starcounter/blob/develop/CHANGELOG.md

[2015-11-23 11:04] dan31 commented on #10
@jwillmer @andwah Once we fix vs-2012 and vs-2013 integration issue, which has appeared after we moved our development to vs-2015, we will issue version 2.1.1, this is a matter of 2-3 days. The release next after that will be 2.2 and it will have major feature upgrades targeting an updated kernel with master-slave integration feature. Before 2.2, feel free to use the Nightly channel.

[2015-12-18 07:48] jwillmer opened #11 "Smorgasbord.PropertyMetadata not found"
Project does not compile because ```using Smorgasbord.PropertyMetadata``` is not included in the project.

[2016-01-12 08:00] warpech opened #12 "Update the usage of puppet-redirect"
Switch to be using the new path `/sys/puppet-redirect/puppet-redirect.html`.

Please release a new version when done.

[2016-01-18 16:31] jwillmer opened #13 "NullReferenceException in user details"
If I display the list of all users and click on a user (to open the details) I get a null reference exception. (I have stoped the launcher and used the app as stand alone.)

Log:
[code]

I am running the current stable Starcounter Version: 2.1.177

[2016-01-18 16:47] per-samuelsson commented on #13
I talked to @jwillmer and one suspicion he had was that his Starcounter version could be older than what the newest UserAdmin app is designed for. Could that be so?

Any other ideas, @warpech, @miyconst?

[2016-01-19 13:24] warpech opened #14 "Remove the dependency on PropertyMetadata"
Remove the dependency on https://github.com/Smorgasbord-Development/PropertyMetadata.

UserAdmin is a prefab app that needs to be self dependent and fully understandable. PropertyMetadata is adding confusion and complication to the building steps.

It is fine to use library like PropertyMetadata for organisation's own apps, but not for Starcounter Samples/prefabs.

[2016-01-19 14:30] per-samuelsson commented on #14
+1

[2016-01-19 14:31] per-samuelsson commented on #14
Just noticed @jwillmer reported this in #11 too.

[2016-01-19 15:27] warpech commented on #13
Steps to reproduce on a clean db:

1. Start Launcher, Sign In, User Admin
2. Go to this url http://localhost:8080/UserAdmin/admin/users
3. Click on "admin" link on users list

It is reproducible with:
- Starcounter 2.1.177
- User Admin 2.0.0-pre8 (as well as master)
- SignIn 3.1.11 (as well as master)
- Launcher 3.0.13 (as well as master)

It is not reproducible with current nightly (Starcounter 2

[2016-01-19 15:27] warpech commented on #13
I've spent 1 hour investigating this but didn't find a solution.

To fix this for @jwillmer we need to either:

1. dig deeper (@andwah would need to take a look)
2. release a new stable and ask @jwillmer to upgrade

@dan31 what do you say?

[2016-01-19 15:35] per-samuelsson commented on #13
Let's see what @jwillmer says first. I'm about to have a talk with him anyway, about...

just that! Because we are in the starting phase starting to test some new functionality, and this new functionality is only in our very latest bits, so we are very close to reach a point where we need @jwillmer to upgrade to that, and that's what him and me are about to discuss.

Give me like until tomorrow or

[2016-01-19 15:43] jwillmer commented on #13
I have no problems to upgrade but I think that it is important that your published apps are compatible with at least the latest stable release. And that they will be tested against it before they get published in the store ;-)

[2016-01-19 15:51] warpech commented on #13
Totally agree! We will use more automated tests to fix that.

[2016-01-19 15:51] per-samuelsson commented on #13
Well, totally agree. And we must definitely improve in general on that. But our first prio would o/c be to get you through this, and that's what I wanted to talk to you about.

[2016-01-19 15:52] per-samuelsson commented on #13
(@warpech beat me by like 5 seconds :bug:)

[2016-01-27 07:53] per-samuelsson commented on #14
Superbump. We really need to fix this. We have complains our users can't build this app.

[2016-01-27 07:53] jwillmer commented on #14
:coffee:

[2016-01-27 08:30] per-samuelsson commented on #14
Until this is fixed, a **workaround** is to build the public [PropertyMetadata](https://github.com/Smorgasbord-Development/PropertyMetadata) project explicitly, then adjusting the reference to it. This does not invalidate the fact we should consider this a bug IMO, but might be good to know if someone need to proceed urgently.

Thanks @jwillmer for helping out verifying this.

[2016-01-27 08:46] jwillmer opened #15 "Remove bootswatch style from all pages"
Theming should only be applyed if not loaded in a launcher otherwise it will interfere with the theme of the launcher.

Since bootswatch is in every page referenced it would make sense to add it to the standalone page and remove it from every other page.

```<link rel="stylesheet" href="/sys/bootswatch/paper/bootstrap.css" />```

[2016-01-27 09:01] jwillmer commented on #12
The launcher uses ```"/sys/juicy-redirect/juicy-redirect.html"``` is there a difference and could you make one redirect out of it?

[2016-02-03 16:20] andwah opened #16 "When i start another app => NullReferenceException"
I started the Warehouse application within visual studio (F5), Directly i get this exception
[code]

I does not occur every time

[2016-02-12 01:08] #9 closed

[2016-02-26 08:46] per-samuelsson commented on #14
Bumpelybump, we are struggling with this again.

[2016-02-26 09:02] andwah commented on #14
I Remove a third party project from the solution and added a precompiled library (dll) into the project. So no more "external" references.

[2016-02-26 09:06] per-samuelsson commented on #14
Hero! Thanks. I volonteer to test it and close this issue if it works.

[2016-02-26 09:09] per-samuelsson commented on #14
Works like a charm. Thanks @andwah!

[2016-02-26 09:09] #14 closed

[2016-02-26 09:10] per-samuelsson commented on #11
Fixed by fix in #14.

[2016-02-26 09:11] warpech commented on #14
My issue was really about merging the PropertyMetadata into the project as code, not only as DLL. @andwah don't you think thats viable?

[2016-02-26 09:15] per-samuelsson commented on #14
Yeah, putting binaries in our repos is never a good practice, and we shouldn't do this long-term. I just thought this issue was about it didn't compile, and now it does.

References should always be kept as versioned dependencies as the first option, and as submodules as the second (but rarely that either). Putting binaries in our repos should always be considered a "hack"/"workaround" that adds t

[2016-02-26 09:18] #11 closed

[2016-02-26 09:21] andwah commented on #14
Is there a good solution on how an app should be designed if it uses external libraries?, I mean custom libraries that can not be resolved with Nuget etc..

[2016-02-26 09:22] jwillmer commented on #14
Upload the lib version to Nuget?

[2016-02-26 09:23] andwah commented on #14
@warpech Well. are you thinking about copying/syninc the code around between repos/projects? i dont think that is a good longterm solution.

[2016-02-26 09:26] per-samuelsson commented on #14
No. Simply because that's bad design. Dependency management should more or less *always* use the standard pattern with a package manager responsible for resolving external packages.

Basically, to have project that can not adhere to versioning builds of itself and put them on some package repository disqualify that project from being used as an external reference of some other project. It's more o

[2016-02-26 09:27] andwah commented on #14
@jwillmer I agree that is a good solution..

But what about the developers that do not want to publish the library on nuget.

[2016-02-26 09:28] per-samuelsson commented on #14
Answered by this:

[2016-02-29 08:40] andwah commented on #14
I removed the third party binary and replaced it with NuGet handling.
Fix 525d3a749cd3840c22fd73ff814d0802e8446423

[2016-02-29 08:56] warpech commented on #14
173 downloads already, wow! :)

[2016-02-29 08:58] andwah commented on #14
well , that was from the first version that was posted as en experiment from over a year ago :-)

[2016-03-04 14:05] per-samuelsson opened #18 "Support command-line build"
Since there is now a dependency on a NuGet package, `build.bat` is pretty useless when you build fresh, since `msbuild` does not bring down such dependencies natively (VS does though).

I'm thinking about updating and rely on `nuget´ CLI to get it done.

[2016-03-04 14:36] per-samuelsson commented on #18
Done. Refined and extended script in https://github.com/StarcounterSamples/UserAdmin/commit/bb5e1212c5fa286cfa61e9c35ed2a89df386f47f. With this, running the build from a CLI require NuGet and bring down depenencies automatically.

[2016-03-04 14:36] #18 closed

[2016-03-31 13:06] warpech commented on #12
@jwillmer good catch! Your question is being answered in https://github.com/StarcounterPrefabs/Launcher/issues/216.

[2016-03-31 13:07] warpech commented on #12
Regarding the original matter of this issue, update the path after Starcounter 2.2 stable is released, because previous stable (2.1.177) uses a different path.

[2016-04-14 12:49] warpech opened #22 "Apply BEM to UserAdmin's private CSS"
This app contains globally applied CSS rules in stylesheets:
- https://github.com/StarcounterSamples/UserAdmin/blob/0c03086c24e7ce1548b5c82994721886e08510f9/src/UserAdmin/wwwroot/UserAdmin/css/useradmin.css

It also contains inline CSS in HTML templates:
- https://github.com/StarcounterSamples/UserAdmin/blob/0c03086c24e7ce1548b5c82994721886e08510f9/src/UserAdmin/wwwroot/UserAdmin/viewmodels/partia

[2016-05-03 11:47] aloscha opened #23 "UserAdmin without SignIn app"
When I start user admin application, without running signin application I've received:

`puppet.js:307GET http://127.0.0.1:8080/signin/signinuser originurl%3d%2fuseradmin%2fadmin%2fusers 404 (Not Found)PuppetNetworkChannel.xhr @ puppet.js:307PuppetNetworkChannel.changeState @ puppet.js:246PuppetDOM.historyHandler @ puppet-dom.js:108PuppetRedirectElementPrototype.redirect @ puppet-redirect.html:48P

[2016-05-03 12:02] aloscha opened #24 "UserAdmin doesn't work with SingIn application"
After running UserAdmin application and SingIn application I go to page `localhost/UserAdmin`, which redirect me to `localhost/signin/signinuser?originurl%3d%2fuseradmin%2fadmin%2fusers`.
I've seen blank page without errors and no more.

[2016-05-04 09:49] warpech commented on #12
Looking good, thanks.

[2016-05-06 11:40] warpech commented on #12
Sorry to reopen, but you only updated one file. The old path is still present in other HTML template files.

[2016-05-06 12:15] aloscha commented on #12
Sorry @warpech, I oversight it. Fix on master

[2016-05-06 12:19] warpech commented on #12
Thanks!

[2016-05-06 12:19] #12 closed

[2016-05-18 07:11] jwillmer opened #25 "Reset password is disabled on every account"
I can not reset the password for any user if i'm logged in with the admin account.

[2016-05-18 07:14] miyconst commented on #25
@diliger take a look.

[2016-05-18 07:21] miyconst commented on #25
There should be an option to select single or double hashing algorithm.

[2016-05-18 07:23] jwillmer commented on #25
Should it also be possible to reset his own password? This way I don't need to install another app (and setup another admin account) to change the password of the default admin user.

[2016-05-18 07:47] miyconst commented on #25
SignIn 4.x includes basic user profile page with password section.

[2016-05-19 16:43] diliger commented on #25
Implemented in this way:
![image](https://cloud.githubusercontent.com/assets/15857369/15401816/e59264a6-1df9-11e6-975d-a6e67732603b.png)

Pushed a pull request. cc @miyconst

[2016-05-20 20:47] diliger commented on #25
Published two versions of **UserAdmin** application.

Version `3.0.0` - for SignIn application version `3.x`
Implemented password reset with single password hash.

Version `4.0.0` - for SignIn application version `4.x`
Implemented password reset with double password hash.

Create new user fixed as well.
Removed duplicate code from `Helper.cs`, used functions from `Simplified.SystemUser` class.

[2016-05-20 20:49] miyconst commented on #25
@jwillmer please take a look at close the issue if you are satisfied.

[2016-05-23 07:38] jwillmer commented on #25
Maybe it would be a good idea to ask the user to check-in again after changing his own password.

[2016-05-23 08:00] miyconst commented on #25
Why there should be any problems? The authentication is saved in cookies and it does not matter if you change the password.

[2016-05-23 08:13] jwillmer commented on #25
O.K. I only know that some web applications do that. Maybe a security feature? Log out of all browsers on pw reset.

[2016-05-23 08:13] jwillmer commented on #25
Have tested version 3.0 - works like intended. Closing issue.

[2016-05-23 08:13] #25 closed

[2016-05-23 08:19] miyconst opened #27 "Automatically sign out in all browsers on password reset"
It's a good security features, if an account gets compromised, than an admin might decide to reset password. In this case all user sessions should get expired.

Proposed by @jwillmer in https://github.com/StarcounterSamples/UserAdmin/issues/25.

[2016-05-23 08:19] miyconst commented on #25
@jwillmer good suggestion, I have moved it to another issue: https://github.com/StarcounterSamples/UserAdmin/issues/27.

[2016-06-14 08:33] warpech opened #28 "Explain how what is the recommended way to use user permissions with your app"

[2016-06-14 09:32] miyconst commented on #28
@diliger please take care of this. You can ask @jwillmer for any details required. This task has less priority compare to the d3 component.

[2016-08-09 15:43] warpech commented on #15
Taking this on me. This is what breaks styles in your Portal Launcher, obviously.

[2016-08-09 15:54] warpech commented on #15
Closing as done. This will fix the top bar in Portal  when UserAdmin is running

![capture2](https://cloud.githubusercontent.com/assets/566463/17523293/5b4b8b96-5e5a-11e6-8ce7-af1ec23cc519.PNG)

cc @jwillmer, @aloscha, @Mnosek

[2016-08-09 15:54] #15 closed

[2016-08-10 10:24] Mnosek opened #29 "Rename 'Based on' to 'Belongs to' in the whole app"
The 'Based on' field is a little bit misleading, it suggests that the child group has also parent privileges. In fact it means that the child group is a more specific group without inheritance of the privileges. Together with @miyconst we've agreed that this field should be renamed to 'Belongs to' to clarify. Issue covers changes in HTML, JSON and code behind files, there is no need to change anyt

[2016-08-16 09:26] warpech opened #30 "Move "System Settings" link from the menu to the Launcher settings page"
Right now, the page that is used for the configuration of the UserAdmin app is accessible by the "System Settings" link in the Launcher's left menu.

This link should be removed.

The handler to that link needs to be mapped to `UriMapping.MappingUriPrefix + "/settings"`. Then, this page will be visible in the combined Launcher settings page.

See how this is done in the Images app: https://github.

[2016-08-16 15:14] warpech commented on #13
Closing as not reproducible anymore (see https://github.com/StarcounterPrefabs/UserAdmin/issues/13#issuecomment-172888014)

[2016-08-16 15:14] #13 closed

[2016-08-16 15:43] warpech commented on #24
I managed to catch this on screenshot.

Steps to reproduce:

1. Start Launcher, SignIn, UserAdmin
2. Go to `localhost:8080/launcher` (not signed in)
3. Click on the UserAdmin icon in the launchpad
   - you will see a full-page sign in form
4. Provide sign in credentials in the full-page sign in form and press the Sign In button
   - you will see an exception, pictured below

![capture](https://clo

[2016-08-22 12:02] Joltrix commented on #30
Implemented in PR #31

[2016-08-23 08:10] warpech commented on #30
#31 merged

[2016-08-23 08:10] #30 closed

[2016-08-23 08:10] warpech commented on #28
This will be solved by @joozek78

[2016-08-31 12:20] warpech opened #32 "UserAdmin does not create permissions if started before SignIn"
When I start the apps in the following order on an empty db: `UserAdmin`, `SignIn`.

UserAdmin does not create user permissions because the user group is not yet created. SignIn creates it.

This is wrong. @joozek78 will have a long term solution (https://github.com/Starcounter/RebelsLounge/issues/41), but I will make a temporary fix now.

[2016-08-31 16:59] #23 closed

[2016-08-31 17:00] warpech commented on #32
Fixed

[2016-08-31 17:00] #32 closed

[2016-08-31 17:00] warpech commented on #24
Fixed

[2016-08-31 17:00] #24 closed

[2016-08-31 17:04] warpech commented on #29
I have renamed it in the UI, but not in property names. This will be refactored by @joozek78 eventually, so I better not mess with the code too much.

[2016-08-31 17:04] #29 closed

[2016-09-16 08:40] warpech opened #33 "Replace the usage of the Page class with middleware"
Please replace the usage of the Page class with middleware, since the Page class is obsolete (see Starcounter/Starcounter#3202). The instructions are in the blog post: http://starcounter.io/replace-page-partial-classes-middleware/

[2016-09-20 11:58] warpech opened #34 "Users list shows a 404 request when there is no avatar"
### Steps to reproduce
1. Start UserAdmin
2. Click on System Users in the left menu
3. Click on "admin" in the users list
4. Click on "Save"
5. See a 404 request in the browser console
### Expected result

There should be no 404 request if a user does not have an avatar
### Actual result

There is a 404 request to `http://localhost:8080/UserAdmin/admin/undefined`
### Technical information
##### St

[2016-09-20 12:08] warpech opened #35 "UserAdmin hijacks user experience for non-admin users"
### Steps to reproduce

1. Start Launcher, SignIn, People, UserAdmin
2. Log in as "admin"
3. Create a "joe" user with **no** admin permissions
4. Log out
5. Log in as "joe"
6. Go to "People" in the left menu
7. Click on "Edit" button next to "joe"

### Expected result

The Edit Person page should load with empty partial coming from UserAdmin.

### Actual result

The Edit Person page does not show

[2016-09-20 12:08] warpech commented on #35
@joozek78 can you please work on it as part of your work on authorization?

[2016-10-06 23:18] tomalec opened #36 "Gravatar hash is incorectly calculated"
### Steps to reproduce
1. Run User admin or inside.starcounter
2. Go to /UserAdmin/admin/users
3. Add user with email linked to gravatar
### Expected result

Gravatar image should be shown
### Actual result

Placeholder is shown
### Technical information
##### Starcounter version 2.2.1.3234
##### Involved apps' version
##### Browsers affected

all
### Screenshot

![image](https://cloud.githubuserc

[2016-10-08 16:27] mmnosek opened #37 "User deletion on user details page creates an error"
### Steps to reproduce
1. Run Launcher, SignIn, UserAdmin
2. Sign in as Admin
3. Go to System Users
4. Create some user
5. **Go back to created user's page**
6. Click _Delete_
### Expected result

I'm redirected to user list and deleted user is no longer on the list
### Actual result

Error occurs. User is deleted, but I need to refresh a page manually because of an error
### Technical information

[2016-10-11 13:31] atifwaqar opened #38 "Not able to modify user type 'SystemUser'"
### Steps to reproduce
Create a user with Type 'SystemUser', and then try to Modify its info like Change password or edit name.

### Expected result
When I click a user's name, It takes me to 'Edit User' page, Where I can update any information about user and then save it.
The code works fine If I have a user with type 'Person'.

### Actual result
When I click a user's name with type 'SystemUser',

[2016-10-11 14:07] atifwaqar commented on #38
Found the issue :
I had `Simplified.Ring3.SystemUser` in my DB, with `WhatIs` & `WhoIs` as null. I created a handler in my own repo to fix this issue.

Here is my code, Im not sure if this the right approach to fix this issue. Please do leave a comment if you have any suggestion regarding this code :

[code]

[2016-10-29 20:57] diliger commented on #33
check please PR at #39

[2016-11-17 10:33] andwah opened #40 "Switch from using package.bat + zip.exe to starpack.exe."

[2016-11-17 10:59] andwah opened #41 "Standalone mode stopped working."
This app should work without launcher.

[2016-11-17 16:06] andwah commented on #40
completed

[2016-11-17 16:06] #40 closed

[2016-11-17 22:09] Mnosek opened #42 "Make UserAdmin develop working with current pnext"
Once we introduced breaking changes in pnext (I've tested with 2.3.0.4787), UserAdmin app stopped working. It's possible to build (with many warnings), but every try to run this app ends up with exceptions. Build output should has no warnings, and features should work as before. Problem is possibly in `Db.Scope` and `Db.Transact` changes.

[2016-11-18 18:10] Mnosek opened #45 "Move run.bat and build.bat to previous location"
Those files should be placed as before - in main directory instead of src/UserAdmin. @andwah can you fix it please?

[2016-11-18 18:21] andwah commented on #45
sure..

[2016-11-18 18:28] andwah commented on #45
pull request created https://github.com/StarcounterPrefabs/UserAdmin/pull/46

Sorry for the messup.

[2016-11-18 19:00] Mnosek commented on #45
Wow, thanks a lot for immediate fix! Closing this issue :)

[2016-11-18 19:00] #45 closed

[2016-11-21 08:29] Mnosek commented on #42
Fixed in develop.

[2016-11-21 08:29] #42 closed

[2016-12-01 22:48] warpech commented on #33
Done, merged. Thanks @diliger

[2016-12-01 22:48] #33 closed

[2016-12-09 11:20] atifwaqar opened #47 "Not able to create UserGroup & Users"
SC Version 2.3.0.5282

Handler `http://localhost:8080/UserAdmin/admin/usergroups`
Button `Create UserGroup`

is giving an exception on the page :
![image](https://cloud.githubusercontent.com/assets/4388707/21047348/b72827b2-be09-11e6-8747-cd8a766fb763.png)

The error in SC Log is :
[code]

[2016-12-09 11:26] miyconst commented on #47
@atifwaqar this is the same problem with compatibility.

You have to clone the [PropertyMetadataPage](https://github.com/Smorgasbord-Development/PropertyMetadata/) repository and reference it from UserAdmin, instead of using the NuGet package.

[2016-12-09 11:26] #47 closed

[2016-12-09 11:31] atifwaqar commented on #47
Awesome. It works now. Thank you :)

[2016-12-09 12:04] warpech commented on #47
We should release a new version. PropertyMetadata has been included in UserAdmin `develop` branch (https://github.com/StarcounterPrefabs/UserAdmin/commit/3ac86a4b48d91b9296ddc3842081d91c8488f34c).

[2016-12-19 18:12] warpech commented on #41
@diliger could you investigate this? Please compare with Products app.

[2016-12-19 18:13] warpech commented on #27
@diliger could you take this? Sounds like a low-hanging fruit

[2016-12-19 18:16] warpech opened #48 "Remove Gravatar/avatar related code from UserAdmin"
UserAdmin has some trace of using avatars from Gravatar, but it is not implemented well. And is not a feature expected from this app anyway.

As discussed in https://github.com/Starcounter/CompanyTrack/issues/250, Gravatar-related features should be removed completely from UserAdmin.

This "solves" https://github.com/StarcounterPrefabs/UserAdmin/issues/36 and #34

@diliger can you take this?

[2016-12-19 18:16] warpech commented on #36
Not needed after https://github.com/StarcounterPrefabs/UserAdmin/issues/48

But thanks for reporting!

[2016-12-19 18:16] #36 closed

[2016-12-19 18:17] warpech commented on #34
Not needed after: https://github.com/StarcounterPrefabs/UserAdmin/issues/48

[2016-12-19 18:17] #34 closed

[2016-12-19 18:18] warpech commented on #37
@diliger could you please investigate this?

[2017-01-05 08:57] diliger commented on #41
probably the problem is in **SignIn** application, it doesn't work in Standalone mode, should it?

If i firstly sign in with **Launcher**, then stop Launcher **UserAdmin** works fine.
But if user is not signed in then **UserAdmin** redirects to **SignIn**: `/signin/signinuser?%2fuseradmin%2fadmin%2fusers` and blank page appears.

![image](https://cloud.githubusercontent.com/assets/15857369/2167430

[2017-01-05 09:43] warpech commented on #41
I think UserAdmin should *include* a partial that is mapped to SignIn, not redirect to it. This should fix the problem.

[2017-01-10 12:57] warpech commented on #48
Fixed in #49

[2017-01-10 12:57] #48 closed

[2017-01-23 11:39] warpech commented on #41
Clarification:

- When the user is not signed in, `CurrentPage` should include a special partial. You might call it "UnauthenticatedPage.html" and give it a [401 HTTP](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error) error code
- Map this partial with UriMapping to `/sc/mapping/userform`. Sign In app already has a mapping for this URL.

[2017-01-23 14:34] mmnosek commented on #37
Fixed in #51 Thanks @diliger !

[2017-01-23 14:34] #37 closed

[2017-01-23 15:00] per-samuelsson opened #52 "UserAdmin.CreateUserPage threw an exception."
Noticed two log entries in a live environment today where the following occurred:

[code]

Version of Starcounter: `Version: 2.3.0.5523`

Any ideas?

cc @warpech @chrhol @miyconst @andwah

cc @atifwaqar

[2017-01-24 13:45] warpech commented on #37
Thank you guys!

[2017-01-24 13:52] warpech commented on #52
I don't have good idea what does this stack trace mean (@chrhol please help).

Just a general info UserAdmin version 4.0.3 and older use https://github.com/Smorgasbord-Development/PropertyMetadata DLL from NuGet.

Starting from the code currently in the `develop` branch, PropertyMetadata is included directly in the app, not referenced as a separate DLL.

[2017-01-24 14:23] diliger commented on #41
PR #53

[2017-01-27 12:15] diliger commented on #27
I think to add a method `SignOutSystemUser(SystemUser User)` to Simplified and it will delete all tokens assigned to the **User**.

Is that a good solution?

[2017-01-27 12:16] diliger commented on #41
can be closed now?

[2017-01-27 16:46] warpech commented on #41
Done, closing

[2017-01-27 16:46] #41 closed

[2017-01-27 16:47] warpech commented on #27
Yes, I think that's a good idea.

[2017-01-27 16:57] warpech commented on #27
Please verify how this affects GoogleSignIn app, though...

[2017-01-31 22:44] warpech commented on #52
@chrhol ping

[2017-02-05 21:47] diliger commented on #27
i'v pushed two PRs #54 and StarcounterPrefabs/Simplified/pull/44 check them please

and a question, after user get signed out, how can I force all pages to be updated automatically to show user is not authenticated?
because now it updates only on page reload.

[2017-02-06 17:28] warpech commented on #27
because now it updates only on page reload.

Each app needs to observe that on its own. I will make an issue about that in Guidelines: https://github.com/StarcounterPrefabs/Guidelines/issues/10

[2017-02-07 06:44] diliger commented on #27
well, then it's out of scope of the current issue.

above you mentioned about `GoogleSignIn`, how should i test it?

[2017-02-07 09:31] warpech commented on #27
Let's think about that first what is expected. Should changing password in SignIn app also log you out from sessions authenticated using other authentication methods?

I think **yes**, because this is what normally a user wants when they change password.

cc @joozek78

[2017-02-07 09:36] joozek78 commented on #27
Well, with new Authorization every action will be authorized, so no additional steps should be required (apart from removing the current session to log out the user).

It would be best to have an option to logout of all sessions when changing password (sometimes you just forget it, sometimes you fear it could be compromised). If we don't leave this choice to the user I'm positive that we should ki

[2017-02-07 12:57] warpech commented on #27
Great! Then @diliger please check if changing password in UserAdmin also deauthenticates sessions authenticated with GoogleSignIn.

[2017-02-10 10:35] warpech opened #55 "Fix UI of the "Add" button"
Right now it is not obvious, that the "Add" button is related to the dropdown that is above that button.

![perhapsthis](https://cloud.githubusercontent.com/assets/10708580/22819429/552afeaa-ef72-11e6-9b7e-02c4393422ef.gif)

The UI should be improved. I propose the following changes:

- put the "Add" button on the right of the dropdown and rename it to "Add to the group"
- rename "Add system group

[2017-02-10 13:03] un-tone commented on #55
Created PR https://github.com/StarcounterPrefabs/UserAdmin/pull/57

[2017-02-10 15:45] warpech commented on #27
Solution is tracked in PR https://github.com/StarcounterPrefabs/UserAdmin/pull/54 and https://github.com/StarcounterPrefabs/Simplified/pull/44

[2017-02-10 15:45] un-tone commented on #55
Closing as done.

[2017-02-10 15:45] #55 closed

[2017-02-10 18:33] un-tone commented on #27
I found one strange thing regarding to the handler of the "Reset password". It requires the username to be an email.
![useradmin-resetpassword-disabled](https://cloud.githubusercontent.com/assets/1625378/22838685/603d65d4-efd7-11e6-912c-59a5474e92fa.png)
This behavior seems not obvious to me. I assume it should check a user's email instead of this `Utils.IsValidEmail(this.Data.Username)`.
Could so

[2017-02-10 19:50] warpech commented on #27
I guess at some point someone assumed that username equals email.

We can either change it to check the first EmailAddress of the Person assigned to the SystemUser, or add an EmailAddress property to SystemUser.

[2017-02-17 08:26] un-tone opened #58 ""Reset Pasword" is not working on "System User" edit page"
### Summary

I found one strange thing regarding to the handler of the "Reset password". It requires the username to be an email. I assume it should check a user's email instead of this `Utils.IsValidEmail(this.Data.Username)`.

### Steps to reproduce

1. Start Launcher `develop`
2. Start UserAdmin `develop`
3. Start People `develop`
4. Start SignIn `develop`
5. Sign in as user with "Admin (System

[2017-02-17 12:55] warpech commented on #27
PR #54 and StarcounterPrefabs/Simplified#44 were merged.

Problem mentioned in https://github.com/StarcounterPrefabs/UserAdmin/issues/27#issuecomment-279026617 is tracked in https://github.com/StarcounterPrefabs/UserAdmin/issues/58

Closing as done

[2017-02-17 12:55] #27 closed

[2017-02-22 16:43] un-tone commented on #58
This sub-module was moved to the SignIn app and fixed in the created PR https://github.com/StarcounterPrefabs/SignIn/pull/70.

[2017-02-23 12:24] Mackiovello opened #60 "Adapt view to Declarative Shadow DOM"
According to https://github.com/Starcounter/RebelsLounge/issues/59

Follow the guidelines in the following three posts to adapt the views to use Declarative Shadow DOM:

* [Layout compositions for HTML partials](https://starcounter.io/layout-compositions-html-partials/)
* [How to Apply New Shadow DOM Layouts to Existing HTML Templates](https://starcounter.io/making-apps-blendable/)
* [HTML View Gu

[2017-03-02 15:09] atifwaqar opened #61 "Create User Group button not working"
GH Branch : Master
SC Version  : 2.3.0.5767

As soon as I click the button to create new user group An exception is generated, and page gets disconnected

![image](https://cloud.githubusercontent.com/assets/4388707/23512900/87f7e758-ff62-11e6-9d9e-18beead0fa79.png)

[2017-03-02 16:18] warpech commented on #61
Fixed on `develop` branch. Please check

[2017-03-02 16:18] #61 closed

[2017-03-16 16:13] warpech opened #62 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 10:00] warpech commented on #62
According to the discussion linked above, `make.bat` and `restart.bat` should be removed.

[2017-03-17 12:32] warpech commented on #62
Some projects output the exe files to `./bin/Debug` instead of `./src/<appname>/bin/Debug`.

The latter form is expected (see https://starcounter.gitbooks.io/guidelines/content/project_structure.html)

If this solution does not output the exe files to the desired paths (both in msbuild and in VS), please fix that immediately too.

[2017-03-20 13:07] warpech opened #63 "Configure continous integration on TeamCity"
The project should have a similar job to KitchenSink in TeamCity.

[2017-03-20 14:34] KmaTTi89 commented on #63
Done

[2017-03-20 14:34] #63 closed

[2017-03-20 14:50] un-tone commented on #62
Created PR https://github.com/StarcounterApps/UserAdmin/pull/64

[2017-03-20 15:50] un-tone commented on #58
Closing as done

[2017-03-20 15:50] #58 closed

[2017-03-22 11:54] warpech commented on #62
Thanks @un-tone, reassigning this to @KmaTTi89 for finishing.

[2017-03-22 13:50] KmaTTi89 commented on #62
Done in https://github.com/StarcounterApps/UserAdmin/pull/64

[2017-03-22 13:50] #62 closed

[2017-03-26 20:18] diliger commented on #22
PR #65

[2017-03-27 16:46] warpech commented on #52
Most probably this problem was fixed on `develop` with https://github.com/StarcounterApps/UserAdmin/pull/44. @un-tone could you pls check that?

[2017-03-28 08:46] un-tone commented on #52
Yes, it was fixed. Closing the issue as done.

[2017-03-28 08:46] #52 closed

[2017-04-05 07:15] diliger commented on #22
Merged. Closed.

[2017-04-05 07:15] #22 closed

[2017-04-21 15:19] atifwaqar opened #68 "SystemUser type does not show anything in page/handler `useradmin/admin/users/{?}`"
### Steps to reproduce
1. Go to https://224.adfenix.com/UserAdmin/admin/users
2. Login with starcounter user that I gave to @dan31
3. Click on any SystemUser type user (not person type, person type works fine)
![image](https://cloud.githubusercontent.com/assets/4388707/25284095/446fe24e-26b6-11e7-9432-61b2c869bcc0.png)
4. I get redirected to `https://224.adfenix.com/useradmin/admin/users/FLk5g` on

[2017-04-21 15:20] atifwaqar opened #69 "Question: How to convert Simplified.Ring3.SystemUser object Type from `SystemUser` to `Person`"

[2017-05-08 11:15] warpech opened #71 "Add a new view to register a user"
Since we are deleting the [Registration](https://github.com/StarcounterApps/Registration/issues/11) app (https://github.com/StarcounterApps/Registration/issues/11), UserAdmin needs to include a new page for creating users.

Most probably, the view for editing a user can be reused. It should work for users without any permissions. It should include a blending point for Sign In to display the passwo

[2017-05-09 09:37] PatrykSzwer commented on #71
Actually UserAdmin already contains view of creating new user:
![image](https://cloud.githubusercontent.com/assets/25042256/25843446/a9387c8c-34a7-11e7-9d5a-2f22e8dbf5e1.png)
But with obvious few things to change. As You said, password entry should be taken from SignIn app. Also I Think that we should add field with assigned user group. About that working without any permissions, are you sure abou

[2017-05-10 14:01] diliger commented on #60
Last link is no longer available...

[2017-05-10 15:47] Mackiovello commented on #60
My bad, it's fixed now. I'll go through the other issues too

[2017-05-30 14:32] PatrykSzwer commented on #71
Done in #72 . Closing.

[2017-05-30 14:32] #71 closed

[2017-06-05 08:46] PatrykSzwer commented on #60
Done in #73. Closing.

[2017-06-05 08:46] #60 closed

[2017-06-08 16:26] warpech opened #74 "Apply the new pattern to create MasterPage"
A new pattern to create MasterPage was discussed in https://github.com/Starcounter/Guidelines/issues/23 and implemented for reference in https://github.com/StarcounterApps/Website/pull/106.

Please apply the same pattern in UserAdmin app, namely:

- replace `Handle.GET("/useradmin/standalone"` handler with a `GetSessionFromMaster` method
- remove the `GetMaster` method

[2017-06-21 12:41] bouguila commented on #74
closing as done.

[2017-06-21 12:41] #74 closed

[2017-07-25 16:26] warpech commented on #3
This pattern is now being explained in https://github.com/Starcounter/Docs/issues/113

[2017-07-25 16:26] #3 closed

[2017-08-10 08:37] warpech opened #81 "UserAdmin blocks signing out in the Sign In app"
### Steps to reproduce

1. Run SignIn (`develop` branch)
1. Run Website (`develop` branch)
1. Run UserAdmin (`develop` branch)
1. Go to `http://localhost:8080/signin/generateadminuser`
1. Go to `http://localhost:8080/UserAdmin/admin/users`
1. On the log in prompt, log in as admin/admin
1. In the top right corner, press "Sign out"

## Expected

You should get signed out

## Actual

Nothing happens

[2017-09-20 08:37] atifwaqar opened #86 "Save button is always disabled in page /useradmin/admin/usergroups/{?}"
SC Version 2.3.1.7166
Latest Code is synced from Develop branch

![image](https://user-images.githubusercontent.com/4388707/30634436-62af6062-9def-11e7-9bb5-2813123cee82.png)

[2017-09-22 14:41] atifwaqar commented on #35
Guys let me know if I can be of any help in this issue.

[2017-09-25 10:09] bouguila commented on #35
This is due to the lack permission of the currently logged in user to access admin features,
because `/People/persons/somebody` is blended with `/UserAdmin/persons/somebody`, and since the freshly created user is not assigned to any admin group, UserAdmin app redirects the response to unauthorized page instead of sending a partial vu as a response.
I am not sure about the best way to fix this issu

[2018-01-12 12:14] atifwaqar opened #98 "master-2.4 branch is not building"
SC Version : 2.4.0.4492
Branch : master-2.4
App : UserAdmin

When I build my master branch I get 3 error.
![image](https://user-images.githubusercontent.com/4388707/34874720-83ce3368-f79a-11e7-8c76-23242b871da9.png)

[2018-01-12 12:18] warpech commented on #98
I believe it was fixed in the `refactor-without-simplified` branch (https://github.com/StarcounterApps/UserAdmin/commit/c208f1c04fbd91bc2adca62292fc33b0e526049d#diff-640dda89b430eae36f1223b797a928ad commit, maybe more).

@bouguila would you mind fixing it in `master-2.4` as well?

[2018-01-23 15:26] andwah opened #102 "Please remove hardcoded admin email."
Hardcoded admin email

https://github.com/StarcounterApps/UserAdmin/blob/refactor-without-simplified/src/UserAdmin/Helpers/SystemUserAdmin.cs#L122

[2018-01-23 15:47] Mihaiii commented on #102
Yes, the change was made in this commit: https://github.com/StarcounterApps/UserAdmin/commit/b5d0187fcd278c8be07c2479846dc542b165c217#diff-74a05b0cbb53d32e725d5fc9a7f756c3R122 .

The code was taken from SignIn app when it was decided to have the creation of the default admin user in UserAdmin instead of SignIn .

I pushed the change with the value from SignIn app, `master` branch: https://github.c

[2018-02-19 13:17] #69 closed

[2018-04-25 15:04] #102 closed

[2018-06-01 14:16] Joltrix opened #105 "ObjectID property is not supported within SQL queries."
For https://github.com/Starcounter/level1/issues/4210 .

[2018-06-01 14:18] Joltrix opened #106 "ObjectID property is not supported within SQL queries."
For https://github.com/Starcounter/level1/issues/4210 .

[2018-06-01 15:15] #105 closed

[2018-06-01 15:15] #106 closed

[2018-09-25 09:06] miyconst opened #114 "Crash when trying to delete a user"
### Steps to reproduce

- Setup mapping environment.
- Create a new database.
- Start `UserAdmin.Mapper` and `UserAdmin`.
- Create a new user.
- Navigate to `http://localhost:8080/UserAdmin/admin/users` to list all users.
- Click the `[Delete]` button for the user.
- `UserAdmin` crashes.

### Expected result

The specified user gets deleted.

### Actual result

Application crashes.

##### Versions

[2018-09-25 09:29] miyconst opened #115 "User details and list of users pages are available for not signed in users"
Running UserAdmin app without any app shell gives access to the pages like:

- `/UserAdmin/admin/users`.
- `/useradmin/admin/users/{?}`.
- `/UserAdmin/admin/createuser`.

This is a security breach.

cc @habib535

[2018-09-25 09:41] miyconst commented on #115
This issue waits for [`SignIn`](https://github.com/Starcounter/SignIn) app with [`Starcounter.Authorization@3.0.0`](https://www.nuget.org/packages/Starcounter.Authorization/).

[2018-10-09 14:44] ubbeK opened #117 "There are no tests in UserAdmin repo"
Missing
* test/Communication.UnitTests
* test/Communication.IntegrationTests

cc @LarsTjernstrom

[2018-11-01 16:12] joozek78 opened #120 "Crash when starting UA"
When starting UserAdmin, it crashes without any entries in log. It seems that this statement is the cause (https://github.com/Starcounter/UserAdmin/blob/master/src/UserAdmin/Startup.cs#L54-L57):

[code]

It's possible that mapper is causing the crash. @mtornwall ideas?

[2018-11-01 16:17] joozek78 commented on #120
BTW DebugView also shows nothing

[2018-11-06 11:42] mmnosek commented on #120
@joozek78 can we close this? It works for me and on test envs